.bg {
  background-color: black;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.warn {
  display: block;
            margin-left: auto;
            margin-right: auto;
}
.fira-sans-condensed-thin {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-condensed-extralight {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-condensed-light {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-condensed-regular {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-condensed-medium {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-condensed-semibold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-condensed-bold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-condensed-extrabold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-condensed-black {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-condensed-thin-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-condensed-extralight-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-condensed-light-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-condensed-regular-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-condensed-medium-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-condensed-semibold-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-condensed-bold-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-condensed-extrabold-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-condensed-black-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 900;
  font-style: italic;
}
